<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"><img src="/i/p2p_logo_360w.png" alt="Power2Peer" width="360" height="107" />
            </h1>
            <!-- <h3>Login or <a href="#">Sign up</a></h3> -->

            <ul class="nav nav-tabs justify-content-center nav-fill" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" id="login-tab" href="/users/login" aria-controls="login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="register-tab" href="/users/register" aria-controls="register" aria-selected="false">Register</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <section class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    {{#if success_msg}}
                        <div class="alert alert-success">{{success_msg}}</div>
                    {{/if}}

                    {{#if error_msg}}
                        <div class="alert alert-danger">{{error_msg}}</div>
                    {{/if}}

                    {{#if error}}
                        <div class="alert alert-danger">{{error}}</div>
                    {{/if}}
                    <form method="post" action="/users/login">
                        <div class="form-group">
                            <label for="username1">Username</label>
                            <input type="username" class="form-control" name="username" id="username1" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password1">Password</label>
                            <input type="password" class="form-control" name="password" id="password1" placeholder="Enter password">
                        </div>
                        </div>
                        <div class="form-group mt-3 text-center">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Login</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>