<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Customer Community Page - slide #</h1>
            <section>
                <div class="row">
                    <div class="col-3">Producer
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    </div>
                    <div class="col-6">123 some rd., your city, your state, 12345 <span class="cl-distance">x.x miles away</span>
                    </div>
                    <div class="col-3">$0.12 kWh
                        <!-- <button class="btn btn-sm btn-block btn-primary">Buy</button> --><a href="#" class="btn btn-sm btn-block btn-primary">Buy</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">Producer
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    </div>
                    <div class="col-6">456 some rd., another city, your state, 12345 <span class="cl-distance">xxx.x miles away</span>
                    </div>
                    <div class="col-3">$0.52 kWh
                        <!-- <button class="btn btn-sm btn-block btn-primary">Buy</button> --><a href="#" class="btn btn-sm btn-block btn-primary">Buy</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">Seller
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                    </div>
                    <!-- these are possibly the longest place names in the US, did not check canada, mexico, or other countries -->
                    <div class="col-6" title="these are possibly the longest place names in the US, did not check canada, mexico, or other countries">123456 Lake Char­gogg­a­gogg­man­chaugg­a­gogg­chau­bun­a­gung­a­maugg blvd., Village of Grosse Pointe Shores, A Michigan City, Massachusetts, 88888 <span class="cl-distance">xxx.x miles away</span>
                    </div>
                    <div class="col-3">$800.88 kWh
                        <!-- <button class="btn btn-sm btn-block btn-primary">Buy</button> --><a href="#" class="btn btn-sm btn-block btn-primary">Buy</a>
                    </div>
                </div>
            </section>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->