<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>main/first</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="/i/icon.png">
	<!-- Place favicon.ico in the root directory -->
	<link rel="shortcut icon" href="/i/favicon.ico" />
	<!-- 60x60//-->
	<!-- https://msdn.microsoft.com/en-us/library/dn455106(v=vs.85).aspx -->
	<meta name="msapplication-config" content="tile.xml" />
	<meta name="application-name" content="tiletext" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/001.css?0704c" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/js/001.js"></script>
</head>
<body>
	<!--[if lte IE 9]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p> <![endif]-->
    {{#if user}}    
	<nav class="navbar navbar-expand navbar-light bg-light">
		<a class="navbar-brand" href="/"><img src="/i/p2p_logo-shape.png" alt="Power2Peer" style="max-height:48px;" />
		</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item{{#if connection}} active{{/if}}"> <a class="nav-link" href="/users/demo-connection">Connection</a></li>
				<li class="nav-item{{#if ourgrid}} active{{/if}}"> <a class="nav-link" href="/users/demo-our-grid">Our Grid</a></li>
				<li class="nav-item"> <a class="nav-link" href="/users/logout">Logout</a></li>
			</ul>
		</div>
	</nav>
    {{/if}}

    {{{body}}}
	
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script>
	window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.slim.min.js"><\/script>')
	</script>
	<script src="/js/bootstrap.min.js"></script>
	<script>
		// toggle colorblind
		$( "#t-cb" ).click(function() {
		  $( ".microgrid3" ).toggleClass( "colorblind" );
		});
	</script>
</body>
</html>
